body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #222;
  border-bottom: solid 2px #444;
}

.header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: normal;
  color: rgb(195, 8, 252);
}

.col-9{
  margin-left: 60px;
  margin-top: 20px;
  font-weight: 400;
  color: whitesmoke;
  letter-spacing: 1px;
  
  
}

.row{
  margin-top: 40px;
  background-color: rgba(20, 20, 17, 0.13);
}

.rpt{
  background-color: rgb(29, 70, 70);
}